@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";


* {
  margin:0;
  /* box-sizing: box-sizing; */
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background:#5385d6;
  position:absolute;
  top:0;
  z-index:10;
}

.header-container {
  width: 960px;
  margin: 0 auto;
}

.header-container p {
  text-align:left;
  padding-top:25px;
  text-transform:uppercase;
  color:#fff;
  font-weight:bold;
  font-size:36px;
}

.footer-container {
  width:960px;
  margin: 50px auto 0;
}

.slider {
  width: 100%;
  height:70px;
  padding: 0;
  margin:-17px 0 0 0;
}

.slider-container {
  position:relative;
  width:280px;
  margin:0 auto;
  padding:0px;
  background:#252525;
  margin-top:-22px;
}

.slider-value {
  font-size: 38px;
  position: relative;
  z-index: 10;
  margin: 0px auto;
  text-align: center;
  padding-top: 24px;
  color:#fff;
  font-weight:bold;
}

.jquery-slider {
  position:absolute;
  z-index:100;
}


/* Sidebar */

.page-wrap {
  text-align:center;
}

.sidebar {
  width: 100%;
  z-index:-1;
  transition:1s;
  margin-top:0px;
}

.toggle-wrap {
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  border-top: 30px solid #333;
  width:180px;
  margin-left:auto;
  margin-right:auto;

}

.toggle-wrap-back {
  width:100%;
  background:#fff;
}

.slider-wrap {
  width:360px;
  border-right: 30px solid #f0f0f0;
  border-left: 30px solid #f0f0f0;
  border-top: 30px solid #dfdfdf;
  margin:0 auto;

}

.slider-wrap-back {
  width:100%;
  background:#f0f0f0;
}

.toggle-container {
  margin-top:-24px;
  margin-left:auto;
  margin-right:auto;
}

.toggle {
  font-size:10px;
  color:#FFF;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:lighter;
  transition: 1s;
  position:relative;
  text-align:center;
  background:transparent;
  padding: 5px 20px;

}



#sidebartoggler {
  display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
  margin-top:28px;
}

#sidebartoggler:checked + .page-wrap .toggle {
  color:#fff;
}

.sidebar-icon {
  display:inline-block;
  font-size:14px;
  width:24px;
}

/* END SIDEBAR */

/* jQuery Slider */

#jquery-slider > span {
  background: #5385d6;
  border-radius: 10px;
  border: none;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  margin-left: 0;
}

#jquery-slider {
  background: #000;
  height: 5px !important;
  margin-top: 5px !important;
  border: none !important;
}

/* END SLIDER */


.homepage-container {
  width:960px;
  margin: 0 auto;
}

.sidebar-container {
  display: inline-block;
  width: 300px;
}


/* NEWS FEED */

.feed-container {
  display: inline-block;
  width: 560px;
  margin: 0 auto;
  background: transparent;
  padding:15px;
}

.feed-header {
  padding-left: 15px;
}

.feed-heading {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.feed-subheading {
  font-size: 12px;
  font-weight: lighter;
  color: #999;
}

.feed-post ul {
  list-style: none;
  border-top: 1px solid #f0f0f0;
  padding-bottom:15px;
  padding-top:15px;
  padding-left:0;
}

.feed-post li {
  display: inline-block;
}

.feed-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #dfdfdf;
  background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTAm6vTZeaQGiR3ujW09Bg1V6iKEYBJ9-abSowMsEs06dZn9zxd')  no-repeat center center;
  background-size: contain;
}

.feed-avatar-container {
  display: inline-block;
  width: 100px;

}

.feed-info-container {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  padding-left: 5px;
}

.feed-name {
  font-size: 12px;
  color: navy;
  font-weight: bold;
  width: 100%;
}

.feed-time {
  font-size: 12px;
  padding-left: 5px;
  font-weight: normal;
  color: #999;
}

.feed-status {
  font-size: 12px;
  padding-top: 5px;
  width: 100%;
  line-height: 16px;
}

.feed-radius {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  border-right: 1px solid #dfdfdf;
  padding-right: 5px;
  height: 20px;
  padding-top: 2px;
}

.feed-social-buttons {
  color: #999;
  font-size: 12px;
}
