<div class="title">Title</div>
<div class="subtitle">Sub Title</div>

<div class="content">
    <img class="center" src="/assets/images/bartender.png">
    <ul>
        <li>Ember is fun!</li>
        <li>If Darrel dies, we riot</li>
    </ul>
</div>
