<header>

  <div class="header-container">

    <label for="menu-bars" class="menu-toggle">{{fa-icon "bars"}}</label>

    <div class="header-logo">
    </div>

  </div>

  <input type="checkbox" id="menu-bars" name="" value="">

  <div class="header-nav-wrap">

    <div class="header-nav">

    </div>
  </div>

</header>
{{outlet}}
