{{outlet}}


<div class="business-edit-container">

  <form id="business-edit-form">

    <div class="business-edit-name">
      <input type="text" class="businessEditFirstname" placeholder="Business Name" value=""/>
    </div>

    <div class="business-edit-firstname">
      <input type="text" class="businessEditFirstname" placeholder="First Name" value=""/>
    </div>
    <div class="business-edit-lastname">
      <input type="text" class="businessEditLastname" placeholder="Last Name" value=""/>
    </div>
    <div class="business-edit-email">
      <input type="text" class="businessEditEmail" placeholder="Email Address" value=""/>
    </div>
    <div class="business-edit-address">
      <input type="text" class="businessEditAddress" placeholder="Address" value=""/>
    </div>
    <div class="business-edit-city">
      <input type="text" class="businessEditCity" placeholder="City" value=""/>
    </div>
    <div class="business-edit-state">
      <input type="text" class="businessEditState" placeholder="State" value=""/>
    </div>
    <div class="business-edit-zip">
      <input type="text" class="businessEditZip" placeholder="Zip" value=""/>
    </div>
    <div class="business-edit-hours">
      <input type="text" class="businessEditHours" placeholder="Business Hours" value=""/>
    </div>

    <div class="business-edit-submit">
      <button type="businessEditSubmit">Register</button>
    </div>
  </form>

<form id="fileupload" name="fileupload" enctype="multipart/form-data" method="post">
    <input type="file" name="fileselect" id="fileselect">
    <input id="uploadbutton" type="button" value="Upload to Parse"/>
</form>

</div>
