{{outlet}}

<div class="business-signup-container">

  <form id="business-signup-form">

    <div class="business-signup-name">
      <input type="text" class="businessSignupFirstname" placeholder="Business Name"/>
    </div>

    <div class="business-signup-firstname">
      <input type="text" class="businessSignupFirstname" placeholder="First Name"/>
    </div>
    <div class="business-signup-lastname">
      <input type="text" class="businessSignupLastname" placeholder="Last Name" />
    </div>
    <div class="business-signup-email">
      <input type="text" class="businessSignupEmail" placeholder="Email Address"/>
    </div>
    <div class="business-signup-password">
      <input type="password" class="businessSignupPassword" placeholder="Password" />
    </div>
    <div class="business-signup-confirm">
      <input type="password" class="businessSignupConfirm" placeholder="Confirm Password" />
    </div>
    <div class="business-signup-submit">
      <button type="businessSignupSubmit">Register</button>
    </div>
  </form>



</div>
