{{outlet}}



<div class="login-wrap">

  <div class="cover-upload-container">

    <form action="#" id="cover-upload">
        <div class="hide-choose"></div>
        <label id="largeFile" for="file">
            <input type="file" id="file" />
        </label>
      <input id="uploadbutton" type="button" value="Upload"/>

    </form>

  </div>
</div>


<div class="footer-container">

  <div class="footer-copyright">
    <p>Keith® 2015 All Rights Reserved</p>
  </div>

  <div class="footer-social-icons">
    <a href="/">{{fa-icon "facebook"}}</a>
    <a href="/">{{fa-icon "twitter"}}</a>
    <a href="/">{{fa-icon "instagram"}}</a>
  </div>

</div>
