{{outlet}}


<div class="signin-wrap">
  <div class="signin-container">

    <form id="signin-form">
      <div class="signin-email">
        <input type="text" class="signinEmail" placeholder="Email Address"/>
      </div>
      <div class="signin-password">
        <input type="password" class="signinPassword" placeholder="Password" />
      </div>
      <div class="signin-submit">
        <button type="signinSubmit">Sign In</button>
      </div>
    </form>

    <div class="new-user-link">
      <p><a>New User? Sign up here</a></p>
    </div>

  </div>
</div>
