{{outlet}}

<div class="user-signup-container">

  <form id="user-signup-form">

    <div class="user-signup-firstname">
      <input type="text" class="userSignupFirstname" placeholder="First Name"/>
    </div>
    <div class="user-signup-lastname">
      <input type="text" class="userSignupLastname" placeholder="Last Name" />
    </div>
    <div class="user-signup-email">
      <input type="text" class="userSignupEmail" placeholder="Email Address"/>
    </div>
    <div class="user-signup-password">
      <input type="password" class="userSignupPassword" placeholder="Password" />
    </div>
    <div class="user-signup-confirm">
      <input type="password" class="userSignupConfirm" placeholder="Confirm Password" />
    </div>
    <div class="user-signup-submit">
      <button type="userSignupSubmit">Register</button>
    </div>
  </form>



</div>
